{% extends 'blog/base.html' %}
{% load static %}
{% block 'registration' %}
{% if user.is_authenticated %}
  <li>
    <a class="nav-link" href="{% url 'home' %}">{{user.username}}</a>
  </li>
{% else %}
<li>
  <a class="nav-link" href="{% url 'register' %}">Register</a>
</li>
<li>
  <a class="nav-link" href="{% url 'login' %}">Login</a>
</li>
{% endif %}
{% endblock %}


{% block 'topics' %}
  {% for topic in all_topics %}
  <a class="dropdown-item" href="{% url 'posts' topic.pk  %}">{{topic.heading}}</a>
  {% endfor %}
{% endblock %}


{% block 'body' %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{topic.image.url}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{topic.heading}}</h1>
          <span class="subheading">{{topic.description}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

{% for post in posts %}
        <div class="post-preview">
          <a href="{% url 'post' topic.pk post.pk %}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.description}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{topic.author.username}}</a>
            {{topic.created_on}}</p>
            <div class="post-meta">
              {% for tag in post.tag.all %}
                  <a href="{% url 'tag_posts' tag.name %}">{{tag.name}}</a>
              {% endfor %}
            </div>

        </div>
        <hr>

{% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
{% endblock %}
