{% extends 'blog/base.html' %}
{% load static %}
{% block 'registration' %}
{% if user.is_authenticated %}
  <li>
    <a class="nav-link" href="{% url 'home' %}">{{user.username}}</a>
  </li>
{% else %}
<li>
  <a class="nav-link" href="{% url 'register' %}">Register</a>
</li>
<li>
  <a class="nav-link" href="{% url 'login' %}">Login</a>
</li>
{% endif %}
{% endblock %}


{% block 'topics' %}
  {% for topic in all_topics %}
  <a class="dropdown-item" href="{% url 'posts' topic.slug  %}">{{topic.heading}}</a>
  {% endfor %}
{% endblock %}


{% block 'body' %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{post.image.url}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2>{{post.title}}</h2>
          <span class="subheading">{{post.description}}</span>
        </div>
      </div>
    </div>
  </div>
</header>
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{post.content | safe}}

          <p>Created by
            <a href="{% url 'about' %}">{{post.author}}</a>. On
            <a href="https://www.flickr.com/photos/nasacommons/">{{post.created_on}}</a>.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h4>Similar Posts</h4>
{% for post in similar_posts %}
        <div class="post-preview">
          <a href="{% url 'post' topic.slug post.slug %}">
            <h5 class="post-title">
              {{post.title}}
            </h5>
            <h7 class="post-subtitle">
              {{post.description}}
            </h7>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{topic.author.username}}</a>
            {{topic.created_on}}</p>
            <div class="post-meta">
              {% for tag in post.tag.all %}
                  <a href="{% url 'tag_posts' tag.name %}">{{tag.name}}</a>
              {% endfor %}
            </div>

        </div>
        <hr>

{% endfor %}

      </div>
    </div>
  </div>




{% endblock %}
